.app {
  position: fixed;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;

  &__select {
    position: absolute;
    right: 0;
    width: 300px;
    margin-left: 48px;
    z-index: 7000;
  }

  &__map {
    width: 100%;
    height: 100%;
  }
}
